<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @user.name %></p>
    <p>
      Secret Santas for <em><%= @famorg.name %></em> have been assigned.<br>
    </p>
    <p>
      This year, you will be buying a gift for ...
    </p>
    <p><br></p>
    <p><br></p>
    <p>
      wait for it...
    </p>
    <p><br></p>
    <p><br></p>
    <p>
      <h2><b><h3><%= @santa.name %></h3></b></h2>
    </p>
    <p><br></p>
    <p><br></p>
    <p>
      A couple of reminders:
      <ul>
        <li>The cap for cost of gifts for this group is set at - <%= number_to_currency(@famorg.cost) %> </li>
        <li>This group is slated to exchange gifts on <b><%= @famorg.date.strftime('%B %d, %Y') %></b></li>
      </ul>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
