<h1>Welcome to Santa's Little Secret</h1>

<% if @user.present? %>
  <h2>Login here - <%= accept_user_invitation_url(:invitation_token => user.raw_invitation_token) %></h2>
<% else %>
Enter your email below to recieve an invitation to proceed.


<%= form_tag(invite_users_path, :method => :get) do %>
  <label for="first_name">First Name</label>
  <%= text_field_tag :first_name %>
  <label for="last_name">Last Name</label>
  <%= text_field_tag :last_name %>
  <label for="email">Email</label>
  <%= text_field_tag :email %>
 <%= submit_tag "Submit" %>
<% end %>

Already Registered? <%= link_to "Sign In Here", new_user_session_path %>
<% end %>
