<% if @users_invitation_accepted.present? %>
  <h4>The Participants</h4><hr>
  <div class="row">
    <% @users_invitation_accepted.each do |user| %>
    <div class="col s12 m7 l4">
      <div class="card medium">
        <div class="card-image">
          <%= attachment_image_tag(user, :profile_image, fallback: 'default_avatar.png') %>
        </div>
        <div class="card-action">
          <p><%= link_to user.name.titleize, user_path(user) %></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<% if @users_invitation_not_accepted.present? %>
<h4>Invitations Pending</h4><hr>
<div class="row">
  <% @users_invitation_not_accepted.each do |user| %>
  <div class="col s12 m7 l4">
    <div class="card medium">
      <div class="card-image">
        <%= attachment_image_tag(user, :profile_image, fallback: 'default_avatar.png') %>
      </div>
      <div class="card-action">
        <p><%= link_to "#{user.name.titleize} #{user.email}", user_path(user) %></p>
        <% if @famorg_admin.admin? %>
          <p><%= link_to 'Remove User', remove_user_path(@famorg.id, user.id), data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>
  </div>



    <% end %>
</div>
<% end %>

<% if @famorg_admin.admin? %>
<%= link_to "Push Button to Assign Santas", assign_path(@famorg), class: "btn btn-large" %>
<%= link_to "Invite More to Group", group_invite_path(@famorg), class: "btn btn-large red" %>
<% else %>
<div class="center">
  <h4>As group admin, <%= @whoisadmin.name %> will be sealing your fate soon.</h4>
</div>
<% end %>
