<% if @user.last_name.present? %>
  <% if current_user.famorgs.present? %>
  <div class="center">
    <h1><%= @famorg.seasons.last.year.strftime('%Y') %> <em><%= @famorg.name %></em></h1>
  </div>
      <% if @group_season.first.santas_assigned? %>
        <%= render 'assigned' %>
      <% else %>
        <%= render 'not_assigned' %>
      <% end %>
  <% else %>
    <%= render 'no_group' %>
  <% end %>
  <% if @famorg_admin.admin? %>
  <div class="row">
    <div class="col">
      <br><%= link_to "Edit Group", edit_famorg_path(@famorg), class: "btn red" %>
    </div>
  </div>
  <% end %>

<% else %>
<h1>Welcome to Secret SantApp</h1>
  <%= render 'update_user' %>
<% end %>
