<% if @user.last_name.present? %>
  <% if current_user.famorgs.present? %>
  <div class="center">
    <h1><%= @famorg.seasons.last.year.strftime('%Y') %> <em><%= @famorg.name %></em></h1>
  </div>
      <% if @group_season.first.santas_assigned? %>
        <%= render 'assigned' %>
      <% else %>
        <%= render 'not_assigned' %>
      <% end %>
  <% else %>
    <%= render 'no_group' %>
  <% end %>
  <% if @famorg_admin.admin? %>
  <div class="row">
    <div class="col">
      <br><%= link_to "Edit Group", edit_famorg_path(@famorg), class: "btn red" %>
    </div>
  </div>
  <% end %>

<div class="divider"></div>

<div class="section">
  <div class="">
    <h3><%= link_to "Discussion", "#", id: "comments-link" %></h3>
    <div class="row">
      <div class="col s12">
        <div class="card-panel", id="comments-section">
            <div id="comments">
              <div class="">
                <ul>
                  <%= render @comments %>
                </ul>
              </div>
            </div>
            <%= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div>
</div>


<% else %>
<h1>Welcome to Secret SantApp</h1>
  <%= render 'update_user' %>
<% end %>
