<div class="nav-wrapper container">
  <%= link_to '<i class="material-icons md-48">card_giftcard</i> Secret SantApp'.html_safe, root_path, class: "brand-logo", id: "logo-container" %>
  <ul class="right hide-on-med-and-down">
    <% if user_signed_in? %>
  <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.name.titleize if current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
    <li><%= link_to "Create New Group", new_famorg_path %></li>
    <li class="divider"></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  </ul>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  </ul>

  <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
    <li><%= link_to "Secret Santa", root_path %></li>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
