<!DOCTYPE html>
<html>
  <head>
    <title>Secret SantApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

  </head>
  <body class="Site">
      <main class="Site-content">
        <nav class="red navbar" role="navigation">
          <%= render 'layouts/navbar' %>
        </nav>
        <div class="container">
          <div class="row">
            <%= render 'layouts/notifications' %>
            <%= yield %>
          </div>
        </div>
        <footer class="page-footer red">
          <%= render 'layouts/footer' %>
        </footer>
      </main>
  </body>
</html>
